#mobilenet_vs_google_lens_logo {
    width:100px;
}


.title {
    font-family: 'Roboto Mono', monospace;
    color:rgb(255, 0, 0);
}

.display_img {
    width:150px;
}


.section_heading_1 {
    color:red;
}

.mobilenet_output, .google-lens_output  {
color:rgb(255, 255, 255);

}

.dice {
    width:450px;
    height:400px;
    background-color: rgb(255, 166, 0);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(248, 211, 143);
}

.board_game {
    width:450px;
    height:400px;
    background-color: rgb(0, 153, 255);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(0, 255, 200);
}


.ester {
    width:450px;
    height:400px;
    background-color: rgb(0, 0, 0);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(65, 65, 65);
}


.white {
    color:honeydew;
}


.hairbrush {
    width:450px;
    height:400px;
    background-color: rgb(234, 0, 255);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(197, 255, 216);
}


.section_heading_4 {
    color:rgb(255, 255, 255);
}

.section_heading_3 {
    color:honeydew;
}


.pen {
    width:450px;
    height:400px;
    background-color: rgb(45, 192, 0);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(0, 109, 40);

}



.section_heading_5 {
    color:rgb(255, 255, 255);
}

.pen_img {
    height:200px;
}
.water_bottle_img {
    height:200px !important;
    width:80px !important;
}



.phone {
    width:450px;
    height:400px;
    background-color: rgb(11, 68, 255);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(166, 218, 252);

}


.section_heading_6 {
    color:rgb(255, 208, 0);
}

.scissors {
    width:450px;
    height:400px;
    background-color: rgb(0, 0, 0);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(255, 106, 106);

}


.section_heading_7 {
    color:rgb(199, 199, 199);
}

.teddy_bear {
    width:450px;
    height:400px;
    background-color: rgb(255, 187, 0);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(255, 215, 129);

}


.section_heading_8 {
    color:rgb(161, 0, 135);
}



.water_bottle {
    width:450px;
    height:400px;
    background-color: rgb(180, 180, 180);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(156, 156, 156);

}


.section_heading_9 {
    color:rgb(89, 0, 255);
}

.whiteout {
    width:450px;
    height:420px;
    background-color: rgb(4, 110, 0);
    border-radius:7%;
    box-shadow:5px 5px 10px rgb(185, 226, 0);

}


.section_heading_10 {
    color:rgb(255, 255, 255);
}

#summary {
    width:400px;
    background-color:rgb(0, 247, 255);
    color:rgb(0, 0, 0);
    border-radius:6%;
    height:100px;
}